html, body {
  font-size: 16px;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2px;
  margin: 3px;
}

#container {
  width: 540px;
  border-radius: 1px;
  margin: 0 auto;
}

#time {
  font-size: 3px;
  text-align: center;
  padding: 1px;
  border-radius: 1px;
  margin: 5px;
}

#buttons {
  font-size: 3px;
  text-align: center;
}

#start, #stop, #reset {
  font-size: 1.5px;
  border-radius: 3px;
}